# Copy this file to .env and fill in your values
# NEVER commit .env to git

EXPO_PUBLIC_SUPABASE_URL=https://cleuulcscytdrmttbxyu.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNsZXV1bGNzY3l0ZHJtdHRieHl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NzQyMTIsImV4cCI6MjA5NTU1MDIxMn0.3mHpnFmTucpNnqmnVfh7PefDi5-jCY9xdbdv2BEucpM
